.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container{
  background-color: rgb(40, 40, 40);
  color: #ffffff;
  text-align: center;
}

/* MY STYLES */

/* HOME PAGE */
.home_page_main_container{
  padding: 50px;
}
.home_page_head_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:rgb(127, 129, 255);
}
.btn_grey{
  background-color: #f2f1f1;
}
.home_page_link_container{
  width: 100%;
  /* text-align: center; */
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home_page_link{
  /* text-decoration: none; */
  min-width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color:rgb(127, 129, 255);
}

/* LOGIN AND REGISTER PAGE */
.login_page_form_container, .register_page_form_container{
  width: 100%;
  /* text-align: center; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login_page_head, .register_page_head{
  font-size: 40px;
  font-weight: 600;
  color:rgb(127, 129, 255);
}

.login_page_register_link_container, .register_page_login_link_container{
  padding-top: 30px;
  font-size: 20px;
  color:rgb(77, 77, 77);
}

.login_page_register_link_container a{
  font-size: 20px;
  color:rgb(77, 77, 77);
}

/* для всех полей ввода */
input{
  margin: 10px;
  background-color: #f2f1f1;
  height: 50px;
  outline: none;
  border: none;
  padding: 0 10px;
  border-radius: 10px;
  font-size: 20px;
}

/* для всех кнопок */
button{
  background-color: rgb(127, 129, 255);;
  height: 50px;
  /* outline: none; */
  border: none;
  padding: 0px 20px;
  border-radius: 10px;
  font-size: 20px;
  /* width: 100px; */
}